@font-face {
    font-family: "MyWebFont";
    font-weight: 600;
    src: url("GemunuLibre-VariableFont_wght.ttf") format("woff2");
  }

  @font-face {
    font-family: "MyWebFont2";
    font-weight: 600;
    src: url("UbuntuCondensed-Regular.ttf") format("woff2");
  }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}
/* 
.hello {
    color: red;
    font-family: "MyWebFont";
    font-size: xx-large;
    background: url('./icon.jpg');
  }
 */

.header {
  align-items: center;
  margin-right: auto;
  margin-bottom: auto;
  
}


body {
  font-family: "MyWebFont2";
  height: 100%;
  font-size: large;
  background-color:rgb(16, 82, 130);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transform: scale(1.0);
  transform-origin: 0 0;
}
#mainContainer{
  background-color: rgb(50, 50, 50);
  border-radius: 2px;
  padding:2px;
  margin-bottom: 10vh;
  margin-right: auto;
  margin-top: 2px;
}

header {
  font: 6px;
  color: white;
  background-color: rgb(50, 50, 50);
  border: 2px solid rgb(16, 82, 130);
  border-radius: 2px;
  padding: 5px;
  height: 18px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 5px;
  font-family: "MyWebFont";
}

#mainContainer>#nav{
  height: auto;
  width: auto;
  display:flex;
  border-top: 2px solid rgb(16, 82, 130);
  border: 2px solid rgb(16, 82, 130);
  /* align-items: center; */
  justify-content:flex-start;
  flex-direction: row;
  color: lightgray

}

#mainContainer{
  
}

#projectNameInTasks {
  border-bottom: 2px solid rgb(16, 82, 130);
}

#tasks-menu, #projList {
  /*border-bottom: 2px solid rgb(16, 82, 130);*/
  width:auto;
  align-items: left;
  text-align: left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

#tasksInputField {
  display: flex;
  justify-content:flex-start;
}

#projectsTitle{
  border-bottom: 2px solid rgb(16, 82, 130);
  margin-bottom: 15px;
}

#projNameOnTasks {
  border-bottom: 2px solid rgb(16, 82, 130);
  margin-bottom: 15px;
}
#projectsDiv{
  flex-grow: 0;
  height:800px;
  min-width: 150px;
  align-items: center;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  padding: 10px;
}

#tasksList {
  flex-grow: 3;
  flex-direction: row;
  height:800px;
  min-width: 150px;
  align-items: center;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  padding: 10px;
}

#projectsDiv {
  border-right: 2px solid rgb(16, 82, 130);
}

h3 {
  margin:0px;
  padding:0px;
}

#projList{
  display: flex;
  width: 100%;
  align-items:flex-start;
}

/*#projname, #taskname{
  font-size:14pt;
  height:25px
}*/

#addTaskButton {
  margin:5px;
  font-size:12pt;
  height:30px;
  width:30px;
}

.projListingClass{
  border-radius: 1px;
  border: 1px solid transparent;
  display: flex;
  align-items:flex-start;
  width:99.6%;
  

}
.projListingClass:hover{
  background-color: rgb(80, 80, 80);;
  cursor: pointer;
  
}

.editButton{
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  margin-top:2px;
  margin-left: 6px;
}


.projListingClass:hover .editButton{
  background: url(edit.svg);
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  margin-top:2px;
  margin-left: 6px;
  filter:invert(1)
}

.editButton:hover{

  transform: scale(1.2);
  filter:invert(0.7)
}

input[type="date"] {
    border: 0px;
    height: 20px;
    background-color: rgb(50, 50, 50);;
    color: rgb(115, 112, 112);
    size: 80px;
    padding-right:-10px;
    margin-top: 3px;
    
}

input[type="date"]:hover {
  background-color: rgb(80, 80, 80);
  cursor: pointer;

}

#taskList {
  display: flex;
  width: auto;
}

#taskList > input[type="date"] {
  margin-left: auto;
  
}

#addproject, #addtask, #addTaskButton123{
  background: url(add.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin: 3px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.7);
  transform: scale(1.1);

}

#okButton {
  background: url(add.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.7);
  transform: scale(1.1);
  padding-top: -5px;
  margin: 3px;

}
#addproject:hover {
  transform: scale(1.3);
  filter: brightness(1) invert(1);
}

#okButton:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(1);
}

#addtask:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(1);
}

.taskDeleteButton:hover {
  transform: scale(1.1);
  filter: brightness(1) invert(1);
}

#addTaskButton123:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(1);
}
#cancelAddTask {
  background: url(remove.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin: 3px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.7);
  transform: scale(1.26);
}

.taskDeleteButton {
  background: url(remove.svg);
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.7);
  transform: scale(0.85);
  padding-top: 5px;
}

#tasks-menu > .taskDeleteButton {
  margin-left: auto;
}

#cancelAddTask:hover {
  transform: scale(1.36);
  filter: brightness(1) invert(1);
}

#cancelButton{
  background: url(remove.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-top:2px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.7);
  transform: scale(1.27);
  padding-top: -5px;
  margin: 3px;
}

#cancelButton:hover {
  transform: scale(1.37);
  filter: brightness(1) invert(1);
}

.taskDeleteButton {
  background: url(trash.svg);
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  margin: 3px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.6);
  transform: scale(1.0);
  position:relative;
  top:-5px;
  right: 5px;
}

#okEditButton  {
background: url(save.svg);
width: 20px;
height: 20px;
background-size: 20px 20px;
margin: 3px;
border: 0px;
cursor: pointer;
filter: brightness(0) invert(0.7);
transform: scale(1.1);

}

#okEditButton:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(1);
}

#delButtonTeste {
  background: url(trash.svg);
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  margin: 3px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.6);
  transform: scale(1.2);

}

#delButtonTeste:hover {
  transform: scale(1.3);
  filter: brightness(1) invert(1);
}


input[type="text"] {
  height: 20px;
  width: 80px;
  border-style:none;
  border-radius: 2px;
  background-color:  rgb(16, 82, 130);
  font: 13px sans-serif;
  margin: 2px;
  
}


input[type="text"]::placeholder {
  font: 12px sans-serif;
}

input[type="checkbox"] {
  background-color: rgb(16, 82, 130);
  border: 0px
}

.projListingClassMain, #tasks-menu {
  margin-bottom:5px;
}

s {
  margin-left: 4px;
  margin-top: 4px;
}