@font-face {
    font-family: "MyWebFont";
    font-weight: 600;
    src: url("GemunuLibre-VariableFont_wght.ttf") format("woff2");
  }
  

.hello {
    color: red;
    font-family: "MyWebFont";
    font-size: xx-large;
    background: url('./icon.jpg');
  }


.header {
  align-items: center;;
}

#mainContainer>#nav{
  height: 100%;
  width: 800px;
  display:flex;
  border-top: 1px solid rgb(16, 82, 130);
  border-bottom: 1px solid rgb(16, 82, 130);
  border-left:  1px solid rgb(16, 82, 130);
  /* align-items: center; */
  justify-content:start;
  flex-direction: row;
}

#tasks-menu, #projList {
  border-top: 1px solid rgb(16, 82, 130);
  width:400px;
  align-items: center;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: start;
}

#tasksInputField {
  display: flex;
  justify-content:start;
}

#projectsDiv, #tasksList {
  border-right: 2px solid rgb(16, 82, 130);
  height:800px;
  width:400px;
  align-items: center;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: start;
}

h3 {
  margin:0px;
  padding:0px;
}

#projList{
  display: flex;
  width: 100%;
  align-items:flex-start;
}

#projname, #taskname{
  font-size:14pt;
  height:25px
}

#okButton, #addTaskButton {
  margin:5px;
  font-size:12pt;
  height:30px;
  width:30px;
}

.projListingClass{
  border-radius: 1px;
  border: 1px solid transparent;
  display: flex;
  align-items:flex-start;
  width:99.6%;
  

}
.projListingClass:hover{
  background-color: lightgray;
  cursor: pointer;
  
}

.editButton{
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  margin-top:2px;
  margin-left: 6px;
}


.projListingClass:hover .editButton{
  background: url(edit.svg);
  width: 17px;
  height: 17px;
  background-size: 17px 17px;
  margin-top:2px;
  margin-left: 6px;
  
}

.editButton:hover{

  transform: scale(1.2);
  filter:invert(30%)
}

input[type="date"] {
    border: 0px;
    color: rgb(115, 112, 112);
    size: 80px;
    padding-right:-10px
    
}

input[type="date"]:hover {
  background-color: lightgray;
  cursor: pointer;

}

#taskList {
  display: flex;
  width: 400px;
}

#taskList > input[type="date"] {
  margin-left: auto;
  
}

#addproject, #addtask, #addTaskButton123 {
  background: url(add.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-top:2px;
  margin-left: 6px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.7);

}

#addproject:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(1);
}

#cancelAddTask:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(1);
}

#addTaskButton123:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(1);
}
#cancelAddTask {
  background: url(remove.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-top:2px;
  margin-left: 6px;
  border: 0px;
  cursor: pointer;
  filter: brightness(0) invert(0.7);
}